body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#question-text {
    text-align: justify;
}

.btn {
    justify-content: center;
    font-size: 1.25rem;
    padding: 0 1rem;
    height: 3.75rem;
}

.button-row {
    margin: 0;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(8, 1fr);
}

.full-width {
    width: 100%;
}

.button-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0 1rem;
    box-sizing: border-box;
}

.footer-content-wrapper {
    max-width: 71rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 12px 12px 0 0;
}

@media screen and (max-width: 992px) {
    .button-row {
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-content-wrapper {
        width: 90%;
    }

}

@media screen and (max-width: 600px) {
    main
    {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    body {
        box-sizing: border-box;
    }

    .section {
        padding: 0;
    }

    .card {
        max-height: calc(100vh - 25.5rem);
        overflow-y: auto;
        box-sizing: border-box;
    }

    .card-content {
        padding: 1rem !important;
    }

    .button-row {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-content-wrapper {
        width: 95%;
        padding: 0.5rem;
    }

    .button-footer {
        padding: 0;
    }

    .btn {
        font-size: 1rem;
        height: 3.5rem;
        padding: 0 0.5rem;
    }
}
